/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #a0aaa8;
}
.made {
  font-family: sans-serif;
  font-size: 13px;
  margin: 15px 30px;
  position: relative;
  text-align: right;
  z-index: 2;
}
.made a {
  color: #424242;
  text-decoration: none;
}
.made a:hover {
  color: black;
}
/****************************************Project*********************************************/
.post-wrapper {
  width: 800px;
  margin: auto;
  background-color: white;
  position: relative;
  font-family: "Helvetica", sans-serif;
  padding: 100px 0px;
}
.post-wrapper a {
  text-decoration: none;
}
.post-wrapper .post-picture {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  position: absolute;
  left: 50px;
}
.post-wrapper .post-text {
  display: inline-block;
  width: 535px;
  margin-left: 180px;
  text-align: justify;
}
.post-wrapper .post-text h1 {
  color: #be7750;
  font-size: 20px;
  padding-bottom: 10px;
}
.post-wrapper .post-text h2 {
  color: #afaea2;
  font-size: 16px;
}
.post-wrapper .post-text h2 .author {
  color: #8d8c80;
}
.post-wrapper .post-text h2 .author:hover {
  color: #be7750;
}
.post-wrapper .post-text h2 .date {
  color: #8d8c80;
}
.post-wrapper .post-text p {
  font-size: 16px;
  color: #555555;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  font-weight: lighter;
}
.post-wrapper .post-text .more {
  color: #be7750;
}
.post-wrapper .post-text .more:hover {
  color: #555555;
}
.post-wrapper:after {
  content: url("../img/shadow.png");
  position: absolute;
  bottom: -23px;
  left: 45px;
  z-index: -1;
}
