/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-image: url("../img/bg.png");
  color: #8b8989;
  font-family: sans-serif;
  font-size: 12px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #8b8989;
}
h1 {
  font-size: 20px;
}
h1,
.copyright-info {
  margin: 15px 30px;
  position: relative;
  text-align: right;
  z-index: 2;
}
.container {
  height: 200px;
  margin: 0 auto;
  padding-top: 60px;
  width: 365px;
  z-index: 1;
}
.container .logo {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 50px;
  font-weight: lighter;
  margin: 20px auto 10px;
  text-align: center;
  text-shadow: 1px 1px 0px black;
}
.container .logo:before {
  content: url("../img/o.png");
  height: 40px;
  margin-right: 10px;
  margin-top: 3px;
  width: 40px;
}
.container .email-placeholder {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.1));
  background-color: transparent;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 15px;
  height: 38px;
  margin-right: 10px;
  outline-color: white;
  text-indent: 10px;
  text-shadow: 0px 1px 0px black;
  width: 280px;
}
.container .email-form {
  margin: 10px auto 20px;
  position: relative;
}
.container .signup-button {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  background-image: -moz-linear-gradient(#ffae00, #ff5d00);
  background-image: -webkit-linear-gradient(#ffae00, #ff5d00);
  background-image: -o-linear-gradient(#ffae00, #ff5d00);
  background-image: linear-gradient(#ffae00, #ff5d00);
  border: none;
  border-top: 1px solid #ffd900;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 38px;
  text-shadow: 0px 1px 0px black;
  width: 70px;
}
.container .info {
  color: #8b8989;
  font-size: 13px;
  line-height: 1.4em;
  text-align: justify;
}
.container .info a {
  color: #bbb6b6;
}
.container .info a:hover {
  color: white;
}
.container .thankyou {
  background-image: url("../img/bg.png");
  bottom: 0;
  color: #bbb6b6;
  font-size: 22px;
  left: 0;
  line-height: 42px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
