/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/reset.less */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 27, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/reset.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 31, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/reset.less */
body {
  line-height: 1;
}
/* line 34, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/reset.less */
ol,
ul {
  list-style: none;
}
/* line 37, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/reset.less */
blockquote,
q {
  quotes: none;
}
/* line 40, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/reset.less */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 45, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/reset.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 4, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
body {
  /*background-color: #282828;*/

  font-family: sans-serif;
  font-size: 12px;
  color: #2c372e;
}
/* line 11, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
a {
  text-decoration: none;
  color: #afb4b1;
}
/* line 16, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
a:hover {
  color: #2c372e;
}
/* line 20, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
h1 {
  font-size: 20px;
}
/* line 24, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
h1,
.copyright-info {
  margin-top: 15px;
  text-align: right;
  margin-right: 30px;
  z-index: 2;
  position: relative;
}
/****************************************Project*********************************************/
/* line 35, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.container {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  background-image: url(../img/bg-noise.png),-moz-linear-gradient(#889d8b, #5c7460);
  background-image: url(../img/bg-noise.png),-webkit-linear-gradient(#889d8b, #5c7460);
  background-image: url(../img/bg-noise.png),-o-linear-gradient(#889d8b, #5c7460);
  background-image: url(../img/bg-noise.png),linear-gradient(#889d8b, #5c7460);
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}
/* line 47, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper {
  margin-bottom: 20px;
}
/* line 51, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper {
  position: relative;
  background: transparent url("../img/tag.png") repeat-x 0 -95px;
  width: 349px;
  height: 87px;
  margin-left: auto;
  margin-right: auto;
}
/* line 58, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper:after {
  content: "";
  background: transparent url("../img/tag.png") no-repeat top left;
  width: 39px;
  position: absolute;
  left: -39px;
  height: 90px;
  top: 0;
}
/* line 67, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper:before {
  content: "";
  background: transparent url("../img/tag.png") no-repeat 0 -189px;
  width: 12px;
  position: absolute;
  right: -12px;
  height: 90px;
  top: 0;
}
/* line 76, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .price {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2), inset 0 2px 12px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2), inset 0 2px 12px rgba(0, 0, 0, 0.58);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2), inset 0 2px 12px rgba(0, 0, 0, 0.58);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.46), rgba(51, 51, 51, 0.64));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.46), rgba(51, 51, 51, 0.64));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.46), rgba(51, 51, 51, 0.64));
  background-image: linear-gradient(rgba(0, 0, 0, 0.46), rgba(51, 51, 51, 0.64));
  font-family: "Cambria", serif;
  font-size: 26px;
  display: inline-block;
  padding: 18px 13px;
  margin-left: 13px;
  margin-top: 10px;
}
/* line 86, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .price:after,
.tag-wrapper .price:before {
  content: "";
  background: transparent url("../img/tag.png") repeat-x 0 -282px;
  height: 3px;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
}
/* line 96, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .price:after {
  top: 5px;
}
/* line 99, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .price:before {
  top: 77px;
}
/* line 103, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .text {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  text-shadow: -1px 1px 0px #000000;
  line-height: 23px;
  overflow: hidden;
  width: 260px;
}
/* line 112, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .text .main-text {
  font-family: "Calibri", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 117, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .text .sub-text {
  font-family: "Cambria", serif;
  font-size: 14px;
  font-style: italic;
  position: relative;
  display: inline-block;
}
/* line 123, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .text .sub-text:after,
.tag-wrapper .text .sub-text:before {
  content: "";
  border-top: 1px solid #304134;
  border-bottom: 1px solid #6a866f;
  height: 0px;
  width: 100px;
  position: absolute;
  top: 13px;
  z-index: 2;
}
/* line 135, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .text .sub-text:before {
  left: -105px;
}
/* line 138, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper .text .sub-text:after {
  right: -105px;
}
/* line 143, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper.small {
  width: 230px;
}
/* line 145, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper.small .text {
  width: 140px;
}
/* line 149, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper.large {
  width: 500px;
}
/* line 151, /Users/tundi/learning/365psd/Detailed Price Tag/target/less/style.less */
.tag-wrapper.large .text {
  width: 410px;
}
